.grid
  display: grid
  grid-template: "hero hero hero hero" 100vh ". abt-us abt-us ." 450px "pstrs pstrs pstrs pstrs" 675px "provan provan provan provan" 700px / 1fr 585px 585px 1fr

header
  height: 15vh
  z-index: 1
  grid-area: hero

.hero
  grid-area: hero

.section2
  grid-area: abt-us
  display: grid
  grid-template: "about cross" 100% / 1fr 1fr

.about
  grid-area: about

.section3
  grid-area: pstrs
  display: grid
  grid-template: ". . pst ." 100% / 1fr 585px 585px 1fr

.pastors
  grid-area: pst

.section4
  grid-area: provan
