.grid
  display: grid
  grid-template: "hero hero hero hero" 100vh ". abt-us abt-us ." 100vh / 1fr 585px 585px 1fr

header
  height: 15vh
  z-index: 1
  grid-area: hero

.hero
  grid-area: hero

.section2
  grid-area: abt-us
